@use '~@angular/material' as mat;
@import './app-theme';
@import './styles/api';
@import './styles/markdown';
@import './styles/tables';
@import './styles/general';

// Include material core styles.
@include mat.core();

// Define the light theme.
$primary: mat.define-palette(mat.$amber-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-light-theme($primary, $accent);
@include mat.all-component-themes($theme);
@include app-root-theme($theme);

.light-colors {
  background-color: mat.get-color-from-palette($primary, default);
  color: map-get(mat.$light-theme-background-palette, background);
}

.dark-colors {
  background-color: map-get(mat.$dark-theme-foreground-palette, base);
  color: map-get(mat.$dark-theme-background-palette, background);
}

.docs-markdown-code {
  background: rgba(0, 0, 0, 0.03);
}
